rocketseat/omnistack/v8.0-tindev/backend/node_modules
rocketseat/omnistack/v8.0-tindev/frontend/node_modules
rocketseat/bootcamp/module01/node_modules
rocketseat/bootcamp/module02/node_modules
rocketseat/bootcamp/module03/node_modules
rocketseat/bootcamp/module04/node_modules